.header-nav{
  position: relative;
  height: 68px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.main-title {
  font-weight: 700;
}

.header-link {
  width: 100px;
  background-color: gray;
}
.login-signup {
  color: gray;
  position: relative;
  top: 28px;
  font-size: 12px;
}
