#footer-link {
  font-size: 14px;
  color: #999;
  min-width: 1030px;
  line-height:21px;
  background: #eee;
  padding-top:15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.fa-github-square{
  margin-bottom: 10px;
  font-size: 40px;
}
.footer-github a:hover{
  text-decoration: none;
}

.copyright{
  margin-top: 7px;
}
