#footer-link {
  font-size: 14px;
  color: #999;
  min-width: 1030px;
  line-height:21px;
  position: absolute;
  background: #eee;
  padding-top:15px;
  width: 100%;
  text-align: center;
}

.footer-github{
  margin-bottom: 10px;
}
.footer-github a:hover{
  text-decoration: none;
}

.footer-portfolio{
  padding-bottom: 10px;
}
