.header-nav{
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.write-project-button {
  background-color: transparent;
  color: #333;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  display: inline-block;
  padding: 12px 12px;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: #555;
  letter-spacing: 2px;
}

.main-title {
}

.header-link {
}
.login-signup {
  color: gray;
  position: relative;
  top: 20px;
  font-size: 12px;
}
.login:hover{
  text-decoration: none;
}

.signp:hover{
  text-decoration: none;
}
.login-signup:hover{
  text-decoration: none;
}

.header-group {
  color: gray;
  text-align: center;
}

.header-name {

}

.pipe{
  color: #ccc;
}

.header-button {
  font-size: 12px;
}
.header-button:hover{
  background-color: orange;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}
