.header-nav{
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 0;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: #555;
  margin-left: 100px;
  letter-spacing: 2px;
}

.main-title {
}

.header-link {
}
.login-signup {
  color: gray;
  position: relative;
  top: 20px;
  font-size: 12px;
  margin-right: 100px;
}
.login:hover{
  text-decoration: none;
}

.signp:hover{
  text-decoration: none;
}
.login-signup:hover{
  text-decoration: none;
}

.header-group {
  color: gray;
  text-align: center;
}

.header-name {

}

.pipe{
  color: #ccc;
}

.header-button {
  font-size: 12px;
}
.header-button:hover{
  background-color: orange;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}
