.header-nav{
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

.logo {
  height: 74px;
  width: 250px;
  // opacity: 0.9;
}

.main-title {
  font-weight: 700;
}

.header-link {
  background-color: gray;
}
.login-signup {
  color: gray;
  position: relative;
  top: 28px;
  font-size: 12px;
}
.login:hover{
  text-decoration: none;
}

.signp:hover{
  text-decoration: none;
}
.login-signup:hover{
  text-decoration: none;
}

.header-group {
  color: gray;
  text-align: center;
}

.header-name {

}

.header-button {
  font-size: 12px;
}
.header-button:hover{
  background-color: orange;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}
