.main-main-div {
  background-color: #d4e1e7;
}

.projects-index {
  background: white;
  width: 2000px;
}


.container{
  color: #fff;
  width:100%;
  height: 600px;
  background-image: url('/assets/main-background.jpg');

  background-size: 1200px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.makeit-searchform{
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 200px;
  cursor: pointer;
}
.title{
  font-family: "CompleteInHim";
  top: -10px;
  left: 4px;
  font-size: 115px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  padding: 0 20px;
}

@keyframes type{
  from { width: 0 }
  to { width: 100% }
}

.animation{
 margin-top: 50px;
}
.dummy-input p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 30px;
  animation:
    type 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

#makeit-searchfield{
  top: 0;
  width: 200px;
  height: 50px;
  line-height: 75px;
  cursor: pointer;
  padding: 4px 6px;
  border-bottom: 5px solid white;
  margin-top: 20px;
}

.fa-search{
  padding: 10px 20px 0px 20px;
  font-size: 50px;
}

.project {
  background: white;
  margin-bottom: 20px;
}


.each-project-show{
  display: inline-block;
  list-style-type: none;
  position: relative;
  width: 306px;
  height: 306px;
  margin: 30px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
}

.project-main-page{
  border: 1px solid #D3D3D3;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  text-align: center;
  width: 100px;

}

.project-image img {
  width: 242px;
  border: 0;
  width: 100px;
  list-style-type: none;
  height: auto;
  vertical-align: middle;

}

.project-title{
  padding: 5px;
  font-weight: 700;
  list-style-type: none;

}

.project-author{
  padding: 5px;
  color: gray;
}

.project-show{
  background-color: white;
}


.each-project-main{
  position: absolute;

}

.project-not-found{
  padding: 50px;
  text-align: center;
  color: #333;
  font-size: 20px;
  line-height: 20px;

}

.project-show-title{
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  font-size: 30px;
}

.project-show-author{
  text-align: center;
  color: #555;
  margin-bottom: 10px;
  line-height: 32px;
}

.project-show-date{
  text-align: right;
  line-height: 52px;
  margin-right: 100px;
  color: #999;
}

.project-show-body{
  text-align: left;
  margin: 0 100px 100px 100px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: #555;
  word-wrap: break-word;
}

.all-steps{
  margin-left: auto;
  margin-right: auto;
}

.project-show-step{
  list-style-type: none;
  margin: 40px 0;
}

.project-show-step-number{
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.project-show-step-body{
  display: block;
  margin: 3px 0px 20px;
  font-size:20px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  color: #555;
  word-wrap: break-word;
  margin-left: 200px;
}

.project-show-step-image{
  width: 250px;
  height: 250px;
  // display: inline-block;
  margin-left: 500px;
  align-items: center;
  justify-content: center;
}

.create-project-form{
  padding: 0;
  margin-top: 40px;
  position:relative;
  width: 1016px;
  background: #fff;
  border: 1px solid rgba(119, 130, 135, 0.4);
  color: #555;
  border-radius: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
}

.create-project-title{
  list-style-type: none;
  border: 1px solid #dedede;
  padding: 10px 0px 10px 0px;
  border-radius: 8px;
  width: 35%;
  margin: 10px 0px 0px 40px;
  background-color: #eee;
  margin-bottom: 10px;
}

.inputfile {
	display: none;
}

.create-project-image-show {
  height: 80%;
  width: 80%;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.create-project-image-container {
  color: #AAA;
  display: inline-block;
  cursor: pointer;
  width: 98%;
  font-size: 20px;
  padding: 40px 0px 10px 0px;
  border: 1px solid #dedede;
  border-radius: 8px;
  background-color: #eee;
  margin-top: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  height: 100px;
}
.create-project-text-show{
  padding-top: 25px;
}

.create-project-image-container {
  margin-bottom: 20px;
}

.fa-search {
}

.create-project-submit{
  display: block;
  margin-left: 5px;
  margin-right: 10px;
  float: right;
  background-color: #e86c00;
  border-color: #cf6000;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  margin:9px;
}

.create-project-error{
  list-style-type: none;
  color: black;
  font-size: 700;
  margin: 10px 0px;
}
