.projects-index {
}

.container{
  color: #fff;
  width:100%;
  height: 600px;
  background-image: url('/assets/main-background.jpg');
  background-size: 1200px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.makeit-searchform{
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 200px;
  cursor: pointer;
}
.title{
  font-family: "CompleteInHim";
  top: -10px;
  left: 4px;
  font-size: 115px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  padding: 0 20px;
}
.makeit-searchfield{
  font-size: 30px;
  padding: 40px 20px 0px 20px;
}

.fa-search{
  padding: 40px 20px 0px 20px;
  font-size: 50px;
}
.project {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.project-main-page{
  border: 1px solid #D3D3D3;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);

}
.project-title{
  padding: 5px;
  font-weight: 700;
}

.project-author{
  padding: 5px;
  color: gray;
}

.project-show{
}

.project-show-title{
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-weight: 700;
  font-size: 30px;
}

.project-show-author{
  text-align: center;
  color: #555;
  margin-bottom: 10px;
  line-height: 32px;
}

.project-show-date{
  text-align: right;
  line-height: 52px;
  margin-right: 100px;
  color: #999;
}

.project-show-body{
  text-align: left;
  margin: 0 100px 100px 100px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: #555;
  word-wrap: break-word;
}
