.each-step-ul{
  display: block;
  background-color: #eee;
  position: relative;
  margin-top: 30px;
  border-radius: 8px;
  width: 990px;
  height: 130px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.step-label{
  color: #AAA;
  display: inline-block;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
  padding: 40px 0px 10px 0px;
  border: 1px solid #dedede;
  border-radius: 8px;
  background-color: #eee;
  margin: 10px 0px 0px 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  height: 50px;
}

.create-step-image-show{

}

.step-inputfile{
  display: none;
}
.add-step-button{
  border-color: #dedede;
  float: center;
  margin-top: 50px;
  z-index: 100;
  color: #333;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
  background-color: #f6f6f6;
  margin-bottom: 50px;
  border: 1px solid #dedede;
}

.fa-arrow-down{

}

.create-step-number{
  font-weight: 700;
  padding-top: 50px;
}

.step-click-to-edit{
  color: #333;
  // position: relative;
  top: 5px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 50px;
  cursor: pointer;

}

.step-delete-button{
  display: block;
  width: 24px;
  height: 24px;
  // overflow: hidden;
  // position: relative;
  margin: 100px 0px 0px 0px;
}

.create-step-error{
  list-style-type: none;
  color: #333;
}
